{% extends 'home/base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'home/home.css' %}">
	<title>home</title>
{% endblock %}

{% block body %}
	<div class="content">
		{% if user.is_authenticated %}
			{% if profile is not None %}
				hello user with a profile {{profile.name}}
				<img src="{% url 'image' token=profile.image_token %}" alt="">
			{% else %}
				You dont have a profile yet, <a href="{% url 'create-profile' %}">Create Profile?</a>
			{% endif %}
		{% else %}	
			You are logged out, <a href="{% url 'login' %}">Login</a>
		{% endif %}
	</div>
{% endblock %}