{% extends 'home/base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'home/home.css' %}">
	<title>home</title>
{% endblock %}

{% block body %}
	<div class="content">
		{% if user.is_authenticated %}
			{% if profile is not None %}
				<img id="profile-img" src="{% url 'image' token=profile.image_token %}" alt="profile image">
				hello {{profile.name}}
			{% else %}
				You dont have a profile yet, <a href="{% url 'create-profile' %}">Create Profile?</a>
			{% endif %}
		{% else %}	
			You are logged out, <a href="{% url 'login' %}">Login</a>
		{% endif %}
	</div>
{% endblock %}