{% extends 'home/base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'home/home.css' %}">
	<title>home</title>
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		{% if profile is not None %}
			<div class="content">
				<img id="profile-img" src="{% url 'image' token=profile.image_token %}" alt="profile image">
				hello {{profile.name}}
			</div>
			
			<div class="options">
				hello world
			</div>
			<img id="settings-wheel" src="{% static 'home/icons/settings.png' %}" alt="settings" onclick="">
		{% else %}
			<div class="content">
				<p>You dont have a profile yet, <a href="{% url 'create-profile' %}">Create Profile?</a></p>
			</div>
		{% endif %}
	{% else %}	
		<div class="content">
			<p>You are logged out</p>
		</div>
	{% endif %}
	<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}