body {
	background: #171A22 !important;
	color: white !important
}

a {
	text-decoration: none !important;
}



#login-logout {
	position: absolute;
	top: 15px;
	left: 20px;
}

#home-link {
	position: absolute;
	top: 15px;
	right: 20px;
}